@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "roboto", sans-serif;
  line-height: 1.4em;
}

.box {
  background: #f5d7d7;
  border: 1px solid#333;
  padding: 20px;
  margin-bottom: 15px;
}

#boks-2 {
  float: left;
  width: 69%;
}

#boks-3 {
  float: right;
  width: 30%;
}

.clr {
  clear: both;
}

.container {
  width: 960px;
  margin: 30px auto;
}

.box p {
  text-align: left;
  text-align: right;
  text-align: center;
}
